* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: messapia;
  src: url("/fonts/Messapia-Regular.woff2") format("woff2"), url("/fonts/Messapia-Regular.woff") format("woff");
}

@font-face {
  font-family: messapia;
  src: url("/fonts/Messapia-Bold.woff2") format("woff2"), url("/fonts/Messapia-Bold.woff") format("woff");
  font-weight: bold;
}

body {
  --bg: #fff;
  --font: #000;
  --gradient: linear-gradient(125deg, rgba(227,213,166,0.500437675070028) 0%, rgba(178,197,196,0.49763655462184875) 50%, rgba(174,151,216,0.500437675070028) 100%);
  --accent: #608191;
  --sv: rgba(180,127,157, 0.5);
}

.dark_mode {
  --bg: #222 !important;
  --font: #ffffff !important;
  --accent: #9EBDCC !important;
}

body {
  background: var(--bg) !important;
  color: var(--font);
  font-family: poppins;
  font-size: 12px;
}

.increase_font {
  font-size: 15px;
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

h1 {
  font-family: messapia;
  font-weight: bold;
  color: var(--accent);
  margin: 0;
  font-size: 45px;
  line-height: 100%;
}

.increase_font h1 {
  font-size: 50px;
}

h3 {
  font-family: messapia;
  font-weight: normal;
  color: var(--font);
  font-size: 15px;
}

.increase_font h3 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: var(--font);
}

.dark_mode *, * {
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.main-outter {
  background: var(--bg);
  padding: 30px;
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-links {
  width: 80px;
  margin-right: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-links a, .side-links button {
  margin-bottom: 20px;
}

[aria-current] {
  color: var(--accent);
}

button {
  background: none;
  border: none;
  width: 26px;
  color: var(--font);
}

.main-inside {
  width: 100%;
  height: 100%;
  background: var(--gradient);
  border-radius: .5rem;
}

.head-flex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 90px;
}

.head-type {
  width: 20%;
  margin-right: 150px;
}

.newest-card {
  position: relative;
}

#newest-img {
  height: 50vh;
}

#newest-banner {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background: var(--sv);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid var(--bg);
  position: absolute;
  top: 70%;
  left: -5%;
  overflow: hidden;
}

#newest-banner span {
  width: 120px;
  height: 120px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: messapia;
  color: var(--bg);
  font-weight: bold;
  text-align: center;
  position: absolute;
  font-size: 13px;
}

.increase_font #newest-banner span {
  font-size: 16px;
}

.newest-t1 {
  top: 0px;
  left: 0px;
}

.newest-t2 {
  top: 0px;
  left: 120px;
}

.newest-card:hover .newest-t1 {
  left: -120px;
}

.newest-card:hover .newest-t2 {
  left: 0px;
}
/*# sourceMappingURL=styles.css.map */